<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Confetti API example</title>
    <link rel="stylesheet" href="/public/styles/style.css">
    <script src="/ace/ace.js"></script>
</head>
<body>

  <div class="header">
    <ul>
      <li><b>Confetti API</b></li>
      <li><a href="/">Docs</a></li>
      <li><a href="/example">Example</a></li>
      <li><a href="https://github.com/confetti/confetti-public-api-docs">GitHub</a></li>
      <li><a href="http://support.confetti.events/en/">Support</a></li>
    </ul>
  </div>

  <div class="container">
    {{{body}}}
  </div>

  <script type="text/javascript">
    document.querySelectorAll('.ace').forEach(function(element) {
      var editor = ace.edit(element, {
        mode: "ace/mode/javascript",
        theme: "ace/theme/tomorrow",
        selectionStyle: "text",
        useWorker: false,
        maxLines: 25
      })
      editor.session.setTabSize(2);
      setTimeout(function() {
        // editor.getSession().foldAll(3, 1000, 2);
        editor.setReadOnly(true);
      }, 200);
    });
  </script>
</body>
</html>
