<h2>Organisations</h2>
<h3>https://api.confetti.events/organisations</h3>
<ul>
  {{#each organisations as |organisation|}}
    <li><a href="/example/organisations/{{organisation.id}}">{{organisation.name}}</a></li>
  {{/each}}
</ul>
<div class="ace">
  {{organisationsResponseBody}}
</div>


<h2>All events</h2>
<h3>https://api.confetti.events/events</h3>
<ul>
  {{#each events as |event|}}
    <li><a href="/example/events/{{event.id}}">{{event.name}}</a></li>
  {{/each}}
</ul>
<div class="ace">
  {{eventsResponseBody}}
</div>

<h2>Events without organisation</h2>
<h3>https://api.confetti.events/events?filter[hasOrganisation]=false</h3>
<ul>
  {{#each eventsWithoutOrganisation as |event|}}
    <li><a href="/example/events/{{event.id}}">{{event.name}}</a></li>
  {{/each}}
</ul>
<div class="ace">
  {{eventsWithoutOrganisationResponseBody}}
</div>
