<h2>Workspace</h2>
<h3>https://api.confetti.events/workspaces</h3>
<ul>
  {{#each workspaces as |workspace|}}
  <li>
    <a href="/example/workspaces/{{workspace.id}}">{{workspace.name}}</a>
  </li>
  {{/each}}
</ul>
<div class="ace">
  {{workspacesResponseBody}}
</div>

<h2>All events</h2>
<h3>https://api.confetti.events/events</h3>
<ul>
  {{#each events as |event|}}
  <li><a href="/example/events/{{event.id}}">{{event.name}}</a></li>
  {{/each}}
</ul>
<div class="ace">
  {{eventsResponseBody}}
</div>
